body{
    background-color: aqua;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px;  
    padding: 20px; 
  }
  
  .box {
    background-color: #EEEEEE; 
    border: 1px solid #CCCCCC; 
    padding: 20px; 
    text-align: center; 
    font-size: 20px; 
  }
  
  .box9 {
    grid-column: 1; 
    grid-row: 1; 
  }
  
  .box8 {
    grid-row: 2;
  }